:root {
  --blue: #1e90ff;
  --is-light: #ffffff;
  --is-primary: #00d1b2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-item img {
  max-height: 8rem !important;
}

.space-nav {
  width: 4rem;
}

.navbar {
  background-color: teal !important;
}

.main {
  margin: 1rem;
}

.events-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding-top: 1rem;
}

.events {
  width: 70%;
  padding-left: 1rem;
}

.actions {
  width: 30%;
  padding-right: 1rem;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}

.event-row {
  border-style: solid;
  border-width: 1.5px;
  border-radius: 1rem;
  border-color: rgb(197, 197, 197);
  padding: 1rem;
  padding-top: 2rem;
}

div.event-list {
  margin-top: -2.8rem;
  margin-left: 0.5rem;
  margin-bottom: 0.7rem;
}

span.event-list {
  background-color: var(--is-light);
  padding-left: 1rem;
  padding-right: 1rem;
}

.attending {
  margin-top: 1.5rem;
}

.subtitle {
  margin-bottom: 0px !important;
}

.card {
  margin-bottom: 0.5rem;
}

.public {
  background-color: rgb(169, 250, 250) !important;
}

.private {
  background-color: rgb(173, 251, 194) !important;
}

.expired, .true {
  background-color: rgb(210, 210, 210) !important;
}

.false {
  background-color: rgb(254, 229, 168) !important;
}

.create-button {
  margin-top: 2rem;
  border-style: none;
  border-radius: 4rem;
  background-color: var(--is-primary);
  padding: 1rem;
  padding-top: 2.3rem;
  width: 8rem;
  height: 8rem;
  text-align: center;
  font-weight: bold;
}

a.div-button {
  color: var(--is-light);
}

details > summary::marker {
  content: "";
}

.calendar .event-date {
  font-family: 'IBM Plex Sans', sans-serif;
  position: relative;
  max-width: 1000px; /*change as per your design need */
  min-width: 320px;
  background: var(--calendar-bg-color);
  color: rgb(54,54,54);
  margin: 20px auto;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: bold;
  border-radius: 10vh;
}